@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.topo{
    height: 30px;
    background-color: #303030;
}
.topo-child{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}
.topo-right{
    width: 50%;
    height: 30px;
    float: right;
    
}
.topo-left{
    width: 50%;
    height: 30px;
    float: left;   
  
}
.topo-left ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.topo-left li {
    float:left;
    margin-left:8px;
    margin-right:8px;
    line-height: 30px;
    height: 30px;
}
.topo-left li a{
    text-decoration: none;
    color: white;
}
.topo-left li .ativo{
    color:#4283a3;
}
.topo-right .img{
    width: 28px;
    
}
.topo-right a{
    float: right;
    margin-right:5px ;
}
.topo-right input{
    float: right;
}
#fundo-pesquisar{
    background-color: red;
    border-radius: 3px;
    
}
.input{
    width: 110px;
    height: 28px;
    outline: 0;
    border: 1px solid rgb(34, 34, 33);
    border-radius: 3px;
}
.topo2{
    height: 80px;
}
.topo2-child{
    width: 100%;
    max-width: 1040px;
    margin: auto;
    height: 80px;
    margin-top:7px;
}
.logo{
    width: 230px;
    height:80px ;
    float: left;
}
.topo2 .banner{
    width: 650px;
    height: 80px;
    float: right;
    background-color: crimson;
    
}
.logo .img{
    width: 230px;
}
.menu{
    background-color: red;
    height: 40px;
    margin-top:7px ;
}
.menu-child{
    height: 40px;
    width: 100%;
    max-width: 1040px;
    margin: auto;
    
}
.menu-child > ul > li{
    list-style: none;
    float: left;
    height: 40px;
    line-height: 40px;
    padding:0px 7px 0px 7px;
}
.menu a{
    color:white;
    text-decoration: none;
}
.menu >.menu-child>ul> li:hover{
    background-color: rgb(170, 2, 2);
}
.menu .ativo{
    background-color: rgb(170, 2, 2);
}
.menu li .submenu{
    background-color: red;
    width: 150px;
    text-align: center;
    position: absolute;
    display: none;
}
.menu li:hover .submenu{
   display: block;
}
.submenu .submenu-item:hover {
    background-color: rgb(240, 154, 154);
}
.periferico-1{
    height: 50px;
    
}
.periferico-1-box{
    height: 40px;
    width:100% ;
    max-width: 1040px;
    
    margin: auto;
    padding-top: 10px;
}
.periferico-1-box-child{
    height: 30px;
    
}

